@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Xác thực 2 yếu tố (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4 style="margin-bottom: 1em;">@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Bạn đã dùng hết mã khôi phục.</strong>
            <p>Bạn phải <a asp-page="./GenerateRecoveryCodes">tạo một chuỗi mã khôi phục mới</a> trước khi đăng nhập bằng mã khôi phục</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Bạn chỉ còn 1 mã khôi phục nữa.</strong>
            <p>Bạn có thể <a asp-page="./GenerateRecoveryCodes">tạo một chuỗi mã khôi phục mới</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Bạn còn lại @Model.RecoveryCodesLeft mã khôi phục.</strong>
            <p>Bạn nên <a asp-page="./GenerateRecoveryCodes">tạo một chuỗi mã khôi phục mới</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Quên trình duyệt này</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">Huỷ xác thực 2 yếu tố</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Tạo một chuỗi mã khôi phục mới</a>
}

<h5 style="margin-bottom:0.8em;">Ứng dụng xác thực</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Thêm ứng dụng xác thực</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Thiết lập ứng dụng xác thực</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Đặt lại ứng dụng xác thực</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}