@model TheFront.Models.ThongTinLichHenModel

@{
    ViewData["Title"] = "Create_LichHen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Tạo lịch hẹn đăng kiểm</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create_LichHen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="bienSoXe" class="control-label">Biển số xe</label>
                    <input asp-for="bienSoXe" class="form-control" required />
                    <span asp-validation-for="bienSoXe" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="soKhung" class="control-label">Số khung</label>
                    <input asp-for="soKhung" class="form-control" required />
                    <span asp-validation-for="soKhung" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="soMay" class="control-label">Số máy</label>
                    <input asp-for="soMay" class="form-control" required />
                    <span asp-validation-for="soMay" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="tenNguoiDangKy" class="control-label">Tên người đại diện</label>
                    <input asp-for="tenNguoiDangKy" class="form-control" />
                    <span asp-validation-for="tenNguoiDangKy" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="soDienThoai" class="control-label">Thông tin liên lạc</label>
                    <input asp-for="soDienThoai" class="form-control" required />
                    <span asp-validation-for="soDienThoai" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CMND" class="control-label">Số CMND</label>
                    <input asp-for="CMND" class="form-control" />
                    <span asp-validation-for="CMND" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="khungGio" class="control-label">Thời gian hẹn</label>
                <input asp-for="khungGio" class="form-control" required />
                <span asp-validation-for="khungGio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Xác nhận lịch hẹn" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>