@model TheFront.Models.LuatViewModel

@{
    ViewData["Title"] = "Home_TraCuuLuat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Tra cứu luật</h1>

<form method="post">
    <div class="row form-group">
        <div class="col-md-7">
            <input asp-for="@Model.Text" class="form-control" id="TextSearchInput" placeholder="Enter text for full text search" />
        </div>
        <div class="col-md-5">
            <button class="btn btn-success">Search</button>
        </div>
    </div>
</form>

<div style="height: 500px; overflow-y:auto; display:block; overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    tenBoLuat
                </th>
                <th>
                    duongDan
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Luats)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tenBoLuat)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.duongDan)" target="_blank" rel="noopener noreferrer">Xem</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
