
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    LANDING PAGE
    <ul>
        <li><a asp-action="Home_DangKiem">DangKiem</a></li>
        <li><a asp-action="Create_BB">Xu Phat</a></li>
    </ul>
</body>
</html>
