@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "XetDuyet_LichHen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Xét duyệt thành công, nhấn vào đây để quay lại <a href="javascript:history.back()">Quay lại</a>
</p>