@model TheFront.Models.HoSoModel

@{
    ViewData["Title"] = "Create_HoSo";
}

<h1>Create_HoSo</h1>

<h4>HoSoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create_HoSo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaHoSo" class="control-label"></label>
                <input asp-for="MaHoSo" class="form-control" />
                <span asp-validation-for="MaHoSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiHoSo" class="control-label"></label>
                <input asp-for="LoaiHoSo" class="form-control" />
                <span asp-validation-for="LoaiHoSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTaChiTiet" class="control-label"></label>
                <input asp-for="MoTaChiTiet" class="form-control" />
                <span asp-validation-for="MoTaChiTiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiCap" class="control-label"></label>
                <input asp-for="NoiCap" class="form-control" />
                <span asp-validation-for="NoiCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiLuu" class="control-label"></label>
                <input asp-for="DiaChiLuu" class="form-control" />
                <span asp-validation-for="DiaChiLuu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
