@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Gửi email khôi phục mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Xin kiểm tra email để nhận hướng dẫn khôi phục mật khẩu.
</p>

